@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* ------------Manu bar section style here---------- */
body {
  background-color: rgb(238, 238, 238);
}
.my-header {
  background-color: royalblue;
  position: fixed;
  width: 100%;
  top: 0;
}
.navigation-bar {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-icon img {
  width: 50px;
  margin-top: 15px;
}
.extra-nav-item {
  list-style: none;
  float: right;
  line-height: 85px;
  display: block;
  margin-left: 20px;
  text-decoration: none;
  font-size: 24px;
  color: white;
}
.nav-item ul {
  list-style: none;
  margin-right: 10px;
}
.nav-item ul a {
  text-decoration: none;
  display: inline-block;
  line-height: 90px;
  color: white;
  font-size: 17px;
  margin-left: 30px;
}
.nav-item .profile {
  display: flow-root;
  float: right;
  margin-top: 20px;
  margin-left: 30px;
}

/* -----------top player section style here-------- */
.main-section {
  max-width: 1080px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
}
.top {
  color: royalblue;
  font-weight: 600;
  margin-left: 78px;
  padding-top: 90px;
  margin-bottom: 20px;
}
.top-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  margin-left: 60px;
}
.players {
  display: flex;
  align-items: center;
}
.players img {
  height: 70px;
  width: 70px;
  padding: 10px 20px;
  margin: 10px 0;
}
.players h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(63, 63, 63);
}
.hr {
  border: 1px solid rgb(189, 189, 189);
  width: 1000px;
  margin: 0 auto;
}

/* top blogs section style here */
.top1 {
  color: royalblue;
  font-weight: 600;
  margin-left: 78px;
  padding-top: 50px;
  margin-bottom: 5px;
}
.top-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding: 20px;
}
.blogs {
  padding: 20px;
  margin-left: 25px;
  display: flex;
}
.blog-img img {
  width: 200px;
}
.title {
  padding: 0 20px;
}
.title h2 {
  color: rgb(61, 61, 61);
  font-weight: 500;
  line-height: 35px;
  font-size: 21px;
}
.title p {
  margin-top: 38px;
}
.title a {
  text-decoration: none;
}

/* latest courses style here: */
.container1 {
  max-width: 1100px;
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
}
.container1 h1 {
  padding-top: 35px;
  padding-bottom: 15px;
  margin-left: 25px;
}
.all-courses {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  padding-bottom: 40px;
}
.course {
  padding: 20px 30px;
  background-color: rgb(241, 241, 241);
  margin: 0 30px;
  border-radius: 10px;
}
.course img {
  width: 250px;
}
.course h2 {
  color: rgb(65, 65, 65);
  font-size: 21px;
  margin-top: 15px;
  line-height: 32px;
  font-weight: 500;
}
.course p a {
  text-decoration: none;
  display: block;
  color: royalblue;
  margin-top: 15px;
  margin-bottom: 15px;
}

.retings {
  display: flex;
  align-items: center;
}
.field {
  color: rgb(255, 196, 0);
}
.time {
  margin-left: 30px;
  color: rgb(255, 24, 74);
  background-color: rgba(255, 142, 180, 0.329);
  padding: 4px 7px;
  border-radius: 50px;
}
.fa-clock {
  margin-right: 3px;
}
.clock {
  float: right;
}
